---
apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: default-allow
  namespace: '{{ ns.metadata.name }}'
  labels:
    app.kubernetes.io/name: default-allow
spec:
  podSelector: {}
  policyTypes:
  - Ingress
  - Egress
  ingress:
{% if isdmz %}
  - from:
    - ipBlock:
        cidr: "0.0.0.0/0"
{% endif %}
  - from:
    - namespaceSelector:
        matchLabels:
          app.kubernetes.io/name: "{{ ns.metadata.name }}"
  egress:
{% if allow_cluster_api %}
  - ports:
    - port: 443
      protocol: TCP
    to:
    - ipBlock:
        cidr: "{{ k8s_api_host }}/32"
{% endif %}
{% if cidr_whitelist %}
{% for trusted in cidr_whitelist %}
{% if not trusted.ranges|default(None) and trusted.ports|default(None) %}
  - ports:
{% for transport in trusted.ports %}
    - port: {{ transport.port }}
      protocol: {{ transport.protocol }}
{% endfor %}
{% endif %}
{% if trusted.ranges|default(None) %}
  - to:
{% for cidr in trusted.ranges %}
    - ipBlock:
        cidr: "{{ cidr }}"
{% endfor %}
{% if trusted.ports|default(None) %}
    ports:
{% for transport in trusted.ports %}
    - port: {{ transport.port }}
      protocol: {{ transport.protocol }}
{% endfor %}
{% endif %}
{% endif %}
{% endfor %}
{% endif %}
{% if http_use_proxy %}
  - to:
    - namespaceSelector:
        matchLabels:
          app.kubernetes.io/name: "{{ K8S_NAMESPACE_PREFIX }}infra0000"
      podSelector:
        matchLabels:
          app.kubernetes.io/part-of: proxy
          app.kubernetes.io/component: http
{% endif %}
  - to:
    - namespaceSelector:
        matchLabels:
          app.kubernetes.io/name: "{{ ns.metadata.name }}"
  - ports:
    - port: 53
      protocol: UDP
    - port: 53
      protocol: TCP
