---
apiVersion: v1
kind: ConfigMap
metadata:
  name: logstash.config.pipelines
  namespace: "{{ namespace }}"
  labels:
    ops.unimatrixone.io/env: cluster
{% if logstash_pipelines|default(None) %}
data:
  {% for fp in logstash_pipelines %}{{ fp.path|basename }}: |
    {{ lookup('file', fp.path)|indent(4) }}
  {% endfor %}
{%- else %}
data: {}
{%- endif %}
