---
apiVersion: v1
kind: ConfigMap
metadata:
  name: squid.config.whitelist
  namespace: unimatrix-public
  labels:
    ops.unimatrixone.io/env: cluster
{% if http_proxy_whitelist %}
data:
  whitelist.txt: |-
{% for domain in http_proxy_whitelist %}
    {{ domain }}
{% endfor %}
{% else %}
data:
  whitelist.txt: ""
{% endif %}
