---
apiVersion: v1
kind: ConfigMap
metadata:
  name: squid.config.whitelist
  namespace: "{{ K8S_NAMESPACE_PREFIX }}infra0000"
{% if http_proxy_whitelist %}
data:
  whitelist.txt: |-
{% for domain in http_proxy_whitelist %}
    {{ domain }}
{% endfor %}
{% else %}
data:
  whitelist.txt: ""
{% endif %}
